@model MasjidTracker.FrontEnd.Models.Visitor

@using FrontEnd.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
    bool signinFailed = ViewBag.SigninFailed == null ? false : ViewBag.SigninFailed;
    var organization = ViewBag.Organization == null ? "Online" : ViewBag.Organization;
    bool isVerified = Model == null ? false : Model.isVerified;

    string requestSuccess = ViewBag.RequestSuccess == null ? null : ViewBag.RequestSuccess;
    string requestMessage = ViewBag.RequestMessage == null ? null : ViewBag.RequestMessage;
}

<head>
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div id="organization" hidden>@organization</div>
<div id="isVerified" hidden>@isVerified</div>

@{
    if (requestSuccess != null)
    {
        if (requestSuccess == "True")
        {
            <div class="alert alert-success" role="alert">
                @requestMessage
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @requestMessage
            </div>
        }
    }


    if (Model != null)
    {
        <div id="verifyUser">
            @await Html.PartialAsync("Partial/VerifyVisitor")
        </div>
    }
}

<div id="userContainer" class="container-fluid" style="padding:0px; align-items:flex-start">
    <div class="row" style="padding:0px">
        <div class="col-sm-6" style="padding:0px">
            @{
                if (Model != null)
                {
                    <img id="bannerImg" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCode))" style="width:100%" />
                }
                else
                {
                    @if (signinFailed)
                    {
                        <div id="signinFailed" class="alert alert-danger" role="alert">
                            Failed to sign in. Please check your credentials.
                        </div>
                    }
                    <img id="bannerImg" style="width:100%" />

                    <div id="userSignIn">
                        <form asp-action="Signin">
                            <div class="form-group">
                                @*<input name="id" id="id" placeholder="Enter user id" class="form-control" />*@
                                <input name="firstName" id="firstName" placeholder="First name" class="form-control" />
                                <input name="lastName" id="lastName" placeholder="Last name" class="form-control" />
                                <input name="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control" />

                            </div>
                            <div class="form-group">
                                <input type="submit" value="Sign in" class="btn btn-primary" />
                                <a class="btn btn-outline-primary" href="/Registration">Sign Up</a>
                            </div>
                        </form>
                    </div>
                }
            }
        </div>

        @if (Model != null)
        {

            <div class="col-sm-6" id="userInfo">

                <div>
                    <b>First name</b>
                </div>
                <div id="userFirstName" style="margin-bottom:10px">@Model.FirstName</div>

                <div>
                    <b>Last name</b>
                </div>
                <div id="userLastName" style="margin-bottom:10px">@Model.LastName</div>

                <div>
                    <b>User ID</b>
                </div>
                <div id="userId" style="margin-bottom:10px">@Model.Id</div>
            </div>
        }
        else
        {
            <div class="col-sm-6" id="userInfo">

                <div>
                    <b>First name</b>
                </div>
                <div id="userFirstName" style="margin-bottom:10px"></div>

                <div>
                    <b>Last name</b>
                </div>
                <div id="userLastName" style="margin-bottom:10px"></div>

                <div>
                    <b>User ID</b>
                </div>
                <div id="userId" style="margin-bottom:10px"></div>
            </div>
        }
    </div>
</div>

<div id="homeInfo">
    <h4 style="text-align:center">
        Get and scan your personalized QR Code when entering the mosque.
    </h4>
    <p style="margin:15px">
        Welcome back to the mosques!<br />
        The reopening of our mosques comes with important conditions to help ensure your safety and the safety of our community.<br /><br />

        To allow Public Health to quickly contact you in the unfortunate case that you may have been exposed to someone with COVID-19 while at our facility, we need your help.<br /><br />

        Sign Up to get a unique QR Code or Sign in to access one if you’ve previously registered<br />
        Input the verification code sent to your phone into the Masjid Check-in 'SMS Verification Code' field and click Submit<br />
        Scan your QR Code each time you enter the mosque<br />
        For easy access to your QR Code, add it to your device’s Home Screen.<br /><br />

        The information you provide will not be shared outside of SNMC except in the case that Public Health needs to contact you for COVID-19 contact tracing.
    </p>
</div>

<div>
    <div id="printDiv" style="float:right">
        <button id="signOut" class="btn btn-primary" onclick="signOut()" style="margin-right:10px">Sign out</button>
        <button id="printButton" class="btn btn-outline-primary" onclick="printDiv()" style="float:right">Print</button>
    </div>
    <br /><br />
</div>

<button class="add-button">Add to home screen</button>

<div class="header-card" name="ios-banner" id="ios-banner">
    Install this webapp to your iPhone. Tap the "Share" button and select "Add to Home Screen"
</div>

<script>

    // Detects if device is on iOS
    const isIos = () => {
        const userAgent = window.navigator.userAgent.toLowerCase();
        return /iphone|ipad|ipod/.test( userAgent );
    }
    // Detects if device is in standalone mode
    const isInStandaloneMode = () => ('standalone' in window.navigator) && (window.navigator.standalone);

    $(document).ready(function () {

        if (isIos() && !isInStandaloneMode()) {
            $("#ios-banner").show();
        } else {
            $("#ios-banner").hide();
        }

        $('#userInfo').hide();
        $('#printDiv').hide();

        var dataImage = localStorage.getItem('imgData');
        var bannerImage = document.getElementById('bannerImg');
        if (dataImage != null && bannerImage.src == "") {
            loadQRCode();
        }
        else if (bannerImg.src != "") {
            saveQRCode();
        }

    });

    function printDiv()
    {
        var mywindow = window.open();

        mywindow.document.write([
        '<html>',
        '   <head>',
        '   </head>',
        '   <body onload="window.print()" onafterprint="window.close()">',
        '      <div style="border-style:solid; width:320px; height:200px; ">',
        '         <div style="float:left"> ',
        '            <img style="margin-top:20px" width="160" height="160" src="' + document.getElementById('bannerImg').src + '"/>',
        '         </div>',
        '         <div style="float:center; margin-top:25px"> ',
                     document.getElementById('userInfo').innerHTML,
        '         </div>',
        '      </div>',
        '   </body>',
        '</html>'
    ].join(''));

        setTimeout(function() {
            mywindow.print();
            mywindow.close();
        }, 250);
    }

    function getBase64Image(img) {

        var bannerImage = $("#bannerImg");
        var canvas = document.createElement("canvas");
        canvas.width = img.width;
        canvas.height = img.height;

        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, bannerImage.width(), bannerImage.height());

        var dataURL = canvas.toDataURL("image/png");
        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
    }

    function saveQRCode() {

        var isVerified = $("#isVerified").html();
        if (isVerified == "True") {
            var bannerImage = document.getElementById('bannerImg');
            var imgData = getBase64Image(bannerImage);
            localStorage.setItem("imgData", imgData);

            var userFirstName = $('#userFirstName');
            var userLastName = $('#userLastName');
            var userId = $('#userId');

            if (userFirstName != null) {
                localStorage.setItem("firstName", userFirstName.html());
                localStorage.setItem("lastName", userLastName.html());
                localStorage.setItem("id", userId.html());
                localStorage.setItem("isVerified", isVerified);

                $('#userInfo').show();
                $('#printDiv').show();
                $('#verifyUser').hide();

            }
        } else {
            $('#userContainer').hide();
            $('#verifyUser').show();
        }

        $("#userSignIn").hide();
        $("#homeInfo").hide();
    }

    function loadQRCode() {
        //alert("load qr code");

        var isVerified = localStorage.getItem('isVerified');
        if (isVerified == "True") {
            var dataImage = localStorage.getItem('imgData');

            if (dataImage != null) {
                bannerImg = document.getElementById('bannerImg');
                bannerImg.src = "data:image/png;base64," + dataImage;

                var firstName = localStorage.getItem('firstName');
                var lastName = localStorage.getItem('lastName');
                var userId = localStorage.getItem('id');

                $('#userFirstName').html(firstName);
                $('#userLastName').html(lastName);
                $('#userId').html(userId);

                $('#userInfo').show();
                $('#printDiv').show();
                $('#verifyUser').hide();

            }
        } else {
            $('#userContainer').hide();
            $('#verifyUser').show();
        }

        $("#userSignIn").hide();
        $("#homeInfo").hide();
    }

    function signOut() {
        localStorage.clear();
        var organization = $('#organization').html();
        if (organization == 'Online') {
            location.href = '@Url.Action("Index", "Home")';
        }
        else {
            location.href = '@Url.Action("Registration", "Home", new {organization = organization})';
        }
    }

    let deferredPrompt;
    const addBtn = document.querySelector('.add-button');
    addBtn.style.display = 'none';

    window.addEventListener('beforeinstallprompt', (e) => {
      // Prevent Chrome 67 and earlier from automatically showing the prompt
      e.preventDefault();
      // Stash the event so it can be triggered later.
      deferredPrompt = e;
      // Update UI to notify the user they can add to home screen
      addBtn.style.display = 'block';

      addBtn.addEventListener('click', (e) => {
        // hide our user interface that shows our A2HS button
        addBtn.style.display = 'none';
        // Show the prompt
        deferredPrompt.prompt();
        // Wait for the user to respond to the prompt
        deferredPrompt.userChoice.then((choiceResult) => {
            if (choiceResult.outcome === 'accepted') {
              console.log('User accepted the A2HS prompt');
            } else {
              console.log('User dismissed the A2HS prompt');
            }
            deferredPrompt = null;
          });
      });
    });
</script>
