@model MasjidTracker.FrontEnd.Models.Visitor

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-6">
    @{
        if (Model != null)
        {
            <img id="bannerImg" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCode))" style="width:100%" />
        }
        else
        {
            <img id="bannerImg" style="width:100%" />
            <div id="userSignIn">
                <form asp-action="Signin">
                    <div class="form-group">
                        <input name="id" id="id" placeholder="Enter user id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sign in" class="btn btn-primary" />
                        <a class="btn btn-outline-primary" href="/Registration">Sign Up</a>
                    </div>
                </form>
            </div>
        }
    }
</div>

@if (Model != null)
{

<div class="col-md-6">
        <table>
            <thead>       
            </thead>
            <tbody>
                <tr><td><b>First name:</b></td> <td>@Model.FirstName</td></tr>
                <tr><td><b>Last name:</b></td>  <td>@Model.LastName</td></tr>
                <tr><td><b>User ID:</b></td> <td>@Model.Id</td></tr>
            </tbody>
        </table>
</div>

<div>
    <button id="signOut" class="btn btn-outline-primary" onclick="signOut()">Sign out</button>
</div>
}

<script type="module">
    import "https://cdn.jsdelivr.net/npm/@@pwabuilder/pwaupdate";

    const el = document.createElement('pwa-update');
    document.body.appendChild(el);
</script>

<script>

    $(document).ready(function () {

        var dataImage = localStorage.getItem('imgData');
        var bannerImage = document.getElementById('bannerImg');
        if (dataImage != null && bannerImage.src == "") {
            loadQRCode();
        }
        else if (bannerImg.src != "") {
            saveQRCode();
        }
    });

    function getBase64Image(img) {

        var bannerImage = $("#bannerImg");
        var canvas = document.createElement("canvas");
        canvas.width = img.width;
        canvas.height = img.height;

        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, bannerImage.width(), bannerImage.height());

        var dataURL = canvas.toDataURL("image/png");
        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
    }

    function saveQRCode() {
        var bannerImage = document.getElementById('bannerImg');
        var imgData = getBase64Image(bannerImage);
        localStorage.setItem("imgData", imgData);
        $("#userSignIn").hide();
    }

    function loadQRCode() {
        //alert("load qr code");
        var dataImage = localStorage.getItem('imgData');

        if (dataImage != null) {
            bannerImg = document.getElementById('bannerImg');
            bannerImg.src = "data:image/png;base64," + dataImage;
        }

        $("#userSignIn").hide();
    }

    function signOut() {
        localStorage.clear();
        location.href = '@Url.Action("Index", "Home")';
    }
</script>