@page 
@using Admin.Models;
@model Admin.Pages.Home.LoginModel;
@{
    ViewData["Title"] = "Visitor Login";
    
}

<h1>@ViewData["Title"]</h1>
<div class = "row col-sm">
    <i>If a visitor forgets his/her Masjid Pass, or cannot access it from their mobile device, you can have them log into this page.  <br>
            Once they successfully login, their QR code will appear and you will be able to scan it. 
    </i>
</div>
<br>
<div class = "row col-sm-8">
    You have two options: 
    <ol style="pointer-events:none;">
        <li> Fill in all 3 fields and press 'Sign In' to view the visitor's QR code automatically </li>
        <li> Fill in 2 of the 3 fields and press 'Search' to search for the visitor, then select the one whose QR code you would like to view </li>
    </ol>
</div>
<hr />

<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div class="form-group">
                <input name="firstName" id="firstName" placeholder="First name" class="form-control" />
            </div>
             <div class="form-group">
                <input name="lastName" id="lastName" placeholder="Last name" class="form-control" />
            </div>
             <div class="form-group">
                <input name="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control" />
            </div>
            @{
                if (Model.LoginFailed){
                    <div id="signinFailed" class="text-danger" role="alert">
                        Failed to sign in because the user was not found.
                        Please check their credentials. <br> <br>
                    </div>
                } else if (Model.MissingFields) {
                    <div id="signinFailed" class="text-danger" role="alert">
                        You are missing fields. To sign in, please fill in all three fields. 
                        If you do not know all three fields, you may fill in two of them then press 'Search'. <br> <br>
                    </div>
                }
            }
             @{
                if (Model.SearchFailed){
                    <div id="searchFailed" class="text-danger" role="alert">
                        Please fill in 2 of the 3 fields to search. <br> <br>
                    </div>
                }
            }
            <div form-group>
                <input type="submit" value="Sign In"  asp-page-handler="VisitorLogin" class="btn btn-primary" />
                <input type="submit" value="Search"  asp-page-handler="SearchVisitors" class="btn btn-secondary" style="background-color:deeppink; border-color:deeppink;"/>
            </div>
        </form>
    </div>
</div>

<br>
<br>


<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Visitors[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visitors[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visitors[0].PhoneNumber)
            </th>
            
            <th></th>
        </tr>
    </thead>
     <tbody>
        @if (Model.NoneFound)
        {
           <td><i> No users found </i></td>
        } else if (Model.Visitors != null)
        {
            @foreach (var item in Model.Visitors)
            {
            
                var last_four = item.PhoneNumber.Substring(8);                 
                        
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>      
                        <p>
                            <span class = "blur">+0000000</span>    <!-- It just looks better when there are numbers blurred. If you are trying to hack this persons phone num try something else (: -->     
                            @last_four 
                        </p>
                    </td>
                    <td>
                        <form method="post">
                            <input type = "hidden" name="firstName" value=  "@item.FirstName"/>
                            <input type = "hidden" name="lastName" value=  "@item.LastName"/>
                            <input type = "hidden" name="Id" value=  "@item.Id"/>
                            <input type = "hidden" name="phoneNumber" value=  "@item.PhoneNumber"/>
                            <input type = "submit" value="Select"  asp-page-handler="Select" class="btn btn-primary btn-rounded btn-sm"/>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

