@page "{Id?}/{FirstName?}/{LastName?}"
@using common.Models

@model Admin.Pages.Home.ViewModel
@{
   var status_alert = TempData["SetStatusResult"] == null ? false : (bool)TempData["SetStatusResult"]; // check if it exists
   var status_success = status_alert ? true : false; // if it exists, is it true?
}


@if (status_alert) {
    @if (status_success) {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Successfully changed @Model.Visitor.FirstName's status.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    } else {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            There was an error setting the status. Please try again or contact the MasjidPass team for support. 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    
}

<div id="userContainer" class="container-fluid" style="padding:0px; align-items:flex-start">
    <div class="row" style="padding:0px">
        <div class="col-sm-6" style="padding:0px">
            @{           
            <img id="bannerImg" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(@Model.Visitor.QrCode))" style="width:100%" />
            }
        </div>


        @{
            <div class="col-sm-6" id="userInfo">
                
                <div>
                    <b>First name</b>
                </div>
                <div id="userFirstName" style="margin-bottom:10px"> @Model.Visitor.FirstName </div>

                <div>
                    <b>Last name</b>
                </div>
                <div id="userLastName" style="margin-bottom:10px"> @Model.Visitor.LastName </div>

                <div>
                    <b>User ID</b>
                </div>
                <div id="userId" style="margin-bottom:10px"> @Model.Visitor.Id </div>
            </div>
        }
    </div>
</div>

<div class="row" style=margin-left:20px;>
    <div style="margin-left: 2%;">
        <form method = "post">
            <input type="submit" 
                class = "btn btn-outline-primary"
                value="Register Another" 
                asp-page-handler="RegisterAnother" />
        </form>
    </div>

    <div style="margin-left: 8px;">
        <form method = "post">
            <input type="submit" 
                class = "btn btn-outline-primary"
                value="Login Another" 
                asp-page-handler="LoginAnother" />
        </form>
    </div>


    <div id="printDiv" style = "margin-left: 8px" >
        <button id="printButton" class="text-center btn btn-outline-primary" onclick="printDiv()">Print</button>
    </div>

    <form method="post" style="margin-left: 8px;">
        <input type = "hidden" name="Id" value=  "@Model.Visitor.Id"/>
        <input type ="button" id="" value = "Manage Status" class="btn btn-outline-warning btn-rounded" style = "margin:1px" 
            data-firstName="@Model.Visitor.FirstName"
            data-lastName="@Model.Visitor.LastName"
            data-id="@Model.Visitor.FirstName" onclick="editFunction('@Model.Visitor.FirstName')"/>
    </form>
    
</div>


<input type ="button"  id="togglebtn" style="display:none;" data-toggle="modal" data-target="#statusModal"/>

<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center bg-warning">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div id="modalBody" class="modal-body">
         <form method="post" asp-route="">
            <div class="form-group" style="padding: 5px">
                Attribute(s) for @Model.Visitor.FirstName @Model.Visitor.LastName: <br> 
                    @if (Model.Visitor.status == 0) {
                        <input type="checkbox" id="noneSpecialCheckbox-modal" name="SelectedAudiencesModal" value=0 onclick="NoneSpecialClicked('noneSpecialCheckbox-modal', 'SelectedAudiencesModal')" checked>
                    } else  {
                        <input type="checkbox" id="noneSpecialCheckbox-modal" name="SelectedAudiencesModal" value=0 onclick="NoneSpecialClicked('noneSpecialCheckbox-modal', 'SelectedAudiencesModal')">
                    }
                    <label class="control-label"> None </label> <br>

                @{if (Model.Statuses != null){
                    foreach (StatusInfo status in Model.Statuses)
                    {
                        var specialId = "modCB-" + status.Name;
                        if (Model.Visitor.decomposedStatuses.Contains(status.BitValue)){
                            <input type="checkbox" id=@specialId name="SelectedAudiencesModal" value=@status.BitValue onclick="SpecialClicked('noneSpecialCheckbox-modal' , 'SelectedAudiencesModal')" checked>
                        } else {
                            <input type="checkbox" id=@specialId name="SelectedAudiencesModal" value=@status.BitValue onclick="SpecialClicked('noneSpecialCheckbox-modal' , 'SelectedAudiencesModal')" >
                        }
                        
                        <label class="control-label">
                            @{var capitalized = status.Name;}
                            @capitalized
                        </label><br>              
                    }
                }
                }
            </div>  
            <div class="form-group" style="align:center;text-align:center;">
                <input type="submit" value="Update Statuses"  asp-page-handler="SetStatuses" class="btn btn-outline-warning waves-effect" />
            </div>
          </form>
      </div>
    </div>
  </div>


<script>
   
    function editFunction(Id){
        console.log("in here " + Id);
        document.getElementById("togglebtn").click();
    }

    // If none checkbox is checked, then uncheck all others.
    function NoneSpecialClicked(none_id, elems_name){
        var noneCheckbox = document.getElementById(none_id);
    
        if (noneCheckbox.checked == true ){
            var audiences = document.getElementsByName(elems_name);
            for (i = 0; i < audiences.length; i++){
                if(audiences[i].value != "0"){
                    audiences[i].checked = false;
                }
            }   
        }
    }

    /* uncheck none checkbox if another audience is selected.
    Check none if all others are unchecked */
    function SpecialClicked(none_id, elems_name) {
        var checkBox = document.getElementById(none_id);
        checkBox.checked = false;

        var numSpecialChecked = 0;
        var audiences = document.getElementsByName(elems_name);
        for (i = 0; i < audiences.length; i++){
            if(audiences[i].checked == true){
                numSpecialChecked++;
            }
        }  

        if (numSpecialChecked == 0) checkBox.checked = true;
    }

    function printDiv()
    {
        @***************************************************@
        @* shortening the ID *@
        @*****************************************************@
        var userId = $('#userId');
        if (!(userId.html().startsWith("*"))) {
            var listId = userId.html().split('-');
            let last = listId.length - 1;
            let shortId = listId[last];
            $('#userId').html("*" + shortId);
        } 
        @***************************************************@
        

        let title = '@(Model.printTitle)';
        if (title == null) {
            title = "Masjid Title";
        }


        

        @*let title = "Masjid Title";*@

        var mywindow = window.open();

        mywindow.document.write([
            '<html>',
            '   <head>',
            '   </head>',
            '<body>',
            '<div id="content" style="border-style:solid; width:320px; height:200px ">',
            '<h3 style="margin-top: 10px;margin-left:5px; margin-bottom:0px; padding: 0;">' + title + ' </h3>',
            '<div id="left" style="width: 45%; float:left">',
            '<img "style="margin-top:10px" padding: 0; width="160" height="160" src="' + document.getElementById('bannerImg').src + '"/>',
            '</div>',

            '<div id="right" style="width: 51%;height:165px; position: relative;float:right ">',
            '<div> ',
            document.getElementById('userInfo').innerHTML,
            '</div>',
            '<span id="object4" style="position:absolute; bottom:0; right:0;font-size:13px"> Tested Positive? <strong>613.801.5377 </strong></span>',
            '</div>',
            '<br style="clear:both;" />',

            '</div>',
            '</body>',
            '</html>'
    ].join(''));

        setTimeout(function() {
            mywindow.print();
            mywindow.close();
        }, 250);

    
    }
</script>